.addNote__btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete__btn,
.archive__btn,
.editNote__btn {
  font-size: 1.8rem;
  margin: 0.5rem;
  /* padding: 0.5rem; */
}
