.big__container {
  display: grid;
  grid-template-columns: 15% 1fr;
  border: 2px solid pink;
  height: 90vh;
}

.sideBar__rich {
  border: 2px solid green;
}

.NotesList_Plus_richText {
  overflow: scroll;
  display: grid;
  grid-template-columns: 35% 1fr;
}

.Notes__rich {
  width: 80%;
  margin-left: 1rem;
}

.textEditor__outer_div {
  padding: 1rem;
  border: 1px solid black;
  height: 38vh;
  border-radius: 5px;
}

.textEditor__firstPart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

textarea {
  width: 100%;
  height: 8rem;
  padding: 1rem;
  resize: none;
}

.textEditor__lastPart {
  display: flex;
  justify-content: space-between;
}

.textEditor__lastPart {
  margin-top: 0.8rem;
}
.textEditor__lastPart span {
  font-size: 2rem;
  cursor: pointer;
}

.textEditor__lastPart button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: blueviolet;
  font-size: 1.4rem;
  border: 0;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
}

.colorPalette_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 0;
  transition: 300ms;
  background-color: white;
}

.colorPalette_list_active {
  display: inline-block;
}

.colorPalette_list_item {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  list-style: none;
  display: inline-block;
  margin: 0.3rem;
}
