.navbar__container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid rgb(160, 151, 151);
}

.navbar__heading {
  margin-left: 2rem;
  color: rgb(24, 23, 23);
}

.navbar__credential {
  background-color: purple;
  margin-right: 2rem;
  /* color: rgb(24, 23, 23); */
  color: white;
}

.login {
  text-decoration: none;
}
